In [1]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('./WB_2023_sep_Co.csv')
df

,longitude,latitude,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06,2023-09-07,2023-09-08,...,2023-09-21,2023-09-22,2023-09-23,2023-09-24,2023-09-25,2023-09-26,2023-09-27,2023-09-28,2023-09-29,2023-09-30
0,85.826363,21.539446,0.025886,0.042187,NaN,0.036967,0.032584,0.028560,NaN,NaN,...,0.027941,0.027356,0.030063,0.028552,NaN,NaN,0.024154,0.035651,0.029952,0.034624
1,85.826363,21.660331,NaN,NaN,NaN,0.020821,NaN,NaN,NaN,0.036881,...,NaN,NaN,0.035549,NaN,0.035061,0.032860,0.027517,0.028405,NaN,NaN
2,85.826363,21.781215,NaN,0.043914,0.031977,NaN,NaN,NaN,NaN,0.038915,...,NaN,0.019808,NaN,0.043412,0.034187,NaN,0.026592,0.031501,0.031245,0.038376
3,85.826363,21.902100,0.026497,0.033348,NaN,NaN,0.033201,0.033652,NaN,0.031073,...,NaN,NaN,0.031475,NaN,0.038141,NaN,NaN,NaN,0.034619,0.035664
4,85.826363,22.022985,0.040977,NaN,0.040235,NaN,0.025895,0.054642,NaN,NaN,...,NaN,NaN,0.032101,NaN,NaN,NaN,NaN,NaN,0.026064,0.033925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1627,89.786363,26.737492,NaN,NaN,0.041754,NaN,0.034800,NaN,NaN,NaN,...,0.016229,0.027922,NaN,0.036972,NaN,NaN,0.030749,0.025486,NaN,0.020496
1628,89.786363,26.858377,NaN,0.033670,0.032488,0.035592,0.018070,NaN,0.030814,0.017654,...,0.027095,NaN,0.034003,NaN,0.012531,0.035383,0.023203,0.029485,0.030960,0.034622
1629,89.786363,26.979262,NaN,NaN,NaN,0.037023,0.044258,NaN,NaN,0.032843,...,0.024126,NaN,0.031686,0.025751,0.013277,0.024484,0.014972,NaN,0.012046,0.018755
1630,89.786363,27.100146,NaN,NaN,NaN,NaN,NaN,0.027072,0.038123,NaN,...,NaN,NaN,0.032805,0.032156,NaN,0.029163,0.012645,NaN,0.034530,0.010735
1631,89.786363,27.221031,NaN,0.034411,NaN,NaN,NaN,NaN,NaN,NaN,...,0.018701,NaN,NaN,NaN,NaN,NaN,0.019427,NaN,0.033038,0.033895

In [2]:
# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    print(f"Mean for {column}: {mean_value}")

Mean for 2023-09-01: 0.027905018114046526
Mean for 2023-09-02: 0.037531095268790574
Mean for 2023-09-03: 0.034247517305290597
Mean for 2023-09-04: 0.03580968642599906
Mean for 2023-09-05: 0.03278348675725613
Mean for 2023-09-06: 0.030525567834895746
Mean for 2023-09-07: 0.03151896612703972
Mean for 2023-09-08: 0.027027420247353273
Mean for 2023-09-09: 0.029120239502892532
Mean for 2023-09-10: 0.033075704311049316
Mean for 2023-09-11: 0.03021715040873093
Mean for 2023-09-12: 0.031035251390031656
Mean for 2023-09-13: 0.03177935154973592
Mean for 2023-09-14: 0.036071898791495874
Mean for 2023-09-15: 0.035361690826462046
Mean for 2023-09-16: 0.031165214323666986
Mean for 2023-09-17: 0.028760908978626588
Mean for 2023-09-18: 0.031016513417125635
Mean for 2023-09-19: 0.028023517754720204
Mean for 2023-09-20: 0.0337789298312491
Mean for 2023-09-21: 0.029232919831219048
Mean for 2023-09-22: 0.028620599632532374
Mean for 2023-09-23: 0.032618045839617395
Mean for 2023-09-24: 0.030477956645517862
Mean for 2023-09-25: 0.027605957249489624
Mean for 2023-09-26: 0.033875780311046176
Mean for 2023-09-27: 0.029839924639771264
Mean for 2023-09-28: 0.03126919374099512
Mean for 2023-09-29: 0.02699410273211091
Mean for 2023-09-30: 0.026142021012630433

In [3]:
import pandas as pd
import numpy as np

# Create a new DataFrame to store the results
result_df = pd.DataFrame(columns=['date', 'threshold_value'])

# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    result_df = pd.concat([result_df, pd.DataFrame({'date': [column], 'threshold_value': [mean_value]})], ignore_index=True)

# Print or display the resulting DataFrame
print(result_df)

          date  threshold_value
0   2023-09-01         0.027905
1   2023-09-02         0.037531
2   2023-09-03         0.034248
3   2023-09-04         0.035810
4   2023-09-05         0.032783
5   2023-09-06         0.030526
6   2023-09-07         0.031519
7   2023-09-08         0.027027
8   2023-09-09         0.029120
9   2023-09-10         0.033076
10  2023-09-11         0.030217
11  2023-09-12         0.031035
12  2023-09-13         0.031779
13  2023-09-14         0.036072
14  2023-09-15         0.035362
15  2023-09-16         0.031165
16  2023-09-17         0.028761
17  2023-09-18         0.031017
18  2023-09-19         0.028024
19  2023-09-20         0.033779
20  2023-09-21         0.029233
21  2023-09-22         0.028621
22  2023-09-23         0.032618
23  2023-09-24         0.030478
24  2023-09-25         0.027606
25  2023-09-26         0.033876
26  2023-09-27         0.029840
27  2023-09-28         0.031269
28  2023-09-29         0.026994
29  2023-09-30         0.026142

In [4]:
#thresold value csv file

In [5]:
# Save the resulting DataFrame to a CSV file
result_df.to_csv('./threshold_value_wb_sep_co.csv', index=False)