In [1]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('./karnataka_sep_O3.csv')
df

,longitude,latitude,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06,2023-09-07,2023-09-08,...,2023-09-20,2023-09-21,2023-09-22,2023-09-23,2023-09-24,2023-09-25,2023-09-26,2023-09-27,2023-09-28,2023-09-29
0,74.054306,11.574480,0.130120,0.126338,NaN,0.118603,0.130045,0.123825,0.128427,0.125927,...,0.146544,0.122131,0.147639,0.132517,0.120906,0.128140,0.121017,0.121701,0.128635,0.126177
1,74.054306,11.714901,NaN,0.126036,NaN,0.118486,0.122760,0.119672,0.123031,0.124877,...,0.143153,0.122372,0.169547,0.132093,0.120380,0.126171,0.118558,0.120816,0.128451,0.119542
2,74.054306,11.855323,0.128908,0.125807,0.118945,0.117690,NaN,0.129860,0.122846,NaN,...,0.136236,0.124977,0.143693,0.118191,0.120936,0.129186,0.118369,0.124085,0.128241,0.121496
3,74.054306,11.995744,0.117407,NaN,0.120062,0.117841,0.123128,0.130544,0.128000,0.135598,...,0.133195,0.123823,0.145801,0.137875,0.119525,0.128493,0.128888,0.126193,0.128110,0.122352
4,74.054306,12.136165,0.128061,0.125483,0.118050,0.123898,0.128146,0.129752,0.124178,0.123641,...,0.134574,0.123594,0.150450,0.120754,0.125704,0.122578,0.116039,0.117319,0.131173,0.122895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,78.534306,17.893435,0.118396,0.134029,0.126506,0.123407,0.124157,0.125091,0.130929,NaN,...,0.119235,0.122007,0.126583,0.119860,0.124444,0.127849,0.118944,0.133568,0.119129,0.121961
1646,78.534306,18.033856,0.118514,0.140138,0.126201,0.119599,0.128501,0.127090,0.131926,0.131383,...,0.126058,0.125320,0.140681,0.125690,0.126069,0.125070,0.118667,0.138213,0.126635,0.123351
1647,78.534306,18.174278,NaN,0.122940,NaN,0.123380,0.128863,0.128693,0.130425,0.128460,...,0.134085,0.123621,0.127340,0.117787,0.117029,0.123654,0.117179,0.123713,0.122577,0.124705
1648,78.534306,18.314699,0.117235,0.131670,NaN,0.126337,0.123572,0.125294,0.130583,0.131058,...,0.127096,0.120856,0.139552,0.116581,0.122364,0.118777,0.118523,0.134070,0.119408,0.125635
1649,78.534306,18.455120,NaN,0.124901,0.124907,0.121127,0.128961,0.129026,NaN,NaN,...,0.136944,0.123411,0.125227,0.129912,0.122756,0.126038,0.116315,0.125121,0.128171,0.126193

In [2]:
# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    print(f"Mean for {column}: {mean_value}")

Mean for 2023-09-01: 0.12206500548844514
Mean for 2023-09-02: 0.12598972826665655
Mean for 2023-09-03: 0.12263094044599543
Mean for 2023-09-04: 0.12057496612205312
Mean for 2023-09-05: 0.1259736456756545
Mean for 2023-09-06: 0.12608226937969233
Mean for 2023-09-07: 0.12704807173679852
Mean for 2023-09-08: 0.12676933384370367
Mean for 2023-09-09: 0.13184304884488474
Mean for 2023-09-10: 0.12072590221635628
Mean for 2023-09-11: 0.12508698070202315
Mean for 2023-09-12: 0.12467752666095669
Mean for 2023-09-13: 0.13045851124888394
Mean for 2023-09-14: 0.13584761002104404
Mean for 2023-09-15: 0.12738065168452564
Mean for 2023-09-16: 0.14164637645302788
Mean for 2023-09-17: 0.1260177050005787
Mean for 2023-09-18: 0.12880584875060602
Mean for 2023-09-19: 0.12448799412326654
Mean for 2023-09-20: 0.13740954286037496
Mean for 2023-09-21: 0.12309406722080388
Mean for 2023-09-22: 0.1425441475296715
Mean for 2023-09-23: 0.12440510404041191
Mean for 2023-09-24: 0.12111982994792811
Mean for 2023-09-25: 0.12496032148127434
Mean for 2023-09-26: 0.11979412579155979
Mean for 2023-09-27: 0.1266027412367113
Mean for 2023-09-28: 0.1252436741572065
Mean for 2023-09-29: 0.12339130060258996

In [3]:
import pandas as pd
import numpy as np

# Create a new DataFrame to store the results
result_df = pd.DataFrame(columns=['date', 'threshold_value'])

# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    result_df = pd.concat([result_df, pd.DataFrame({'date': [column], 'threshold_value': [mean_value]})], ignore_index=True)

# Print or display the resulting DataFrame
print(result_df)

          date  threshold_value
0   2023-09-01         0.122065
1   2023-09-02         0.125990
2   2023-09-03         0.122631
3   2023-09-04         0.120575
4   2023-09-05         0.125974
5   2023-09-06         0.126082
6   2023-09-07         0.127048
7   2023-09-08         0.126769
8   2023-09-09         0.131843
9   2023-09-10         0.120726
10  2023-09-11         0.125087
11  2023-09-12         0.124678
12  2023-09-13         0.130459
13  2023-09-14         0.135848
14  2023-09-15         0.127381
15  2023-09-16         0.141646
16  2023-09-17         0.126018
17  2023-09-18         0.128806
18  2023-09-19         0.124488
19  2023-09-20         0.137410
20  2023-09-21         0.123094
21  2023-09-22         0.142544
22  2023-09-23         0.124405
23  2023-09-24         0.121120
24  2023-09-25         0.124960
25  2023-09-26         0.119794
26  2023-09-27         0.126603
27  2023-09-28         0.125244
28  2023-09-29         0.123391

In [5]:
#thresold value csv file

In [4]:
# Save the resulting DataFrame to a CSV file
result_df.to_csv('./threshold_value_karnataka_sep_o3.csv', index=False)