In [1]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('./Delhi_sep_O3.csv')
df

,longitude,latitude,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06,2023-09-07,2023-09-08,...,2023-09-20,2023-09-21,2023-09-22,2023-09-23,2023-09-24,2023-09-25,2023-09-26,2023-09-27,2023-09-28,2023-09-29
0,76.832916,28.408461,0.125986,0.142418,0.126548,0.127528,0.127284,0.126900,NaN,0.135261,...,0.121873,0.120363,0.115495,0.117892,0.128985,0.128337,0.124863,0.136919,0.122289,0.128734
1,76.832916,28.422062,0.120517,0.141562,NaN,0.127264,0.129493,0.130207,NaN,0.141058,...,0.128531,0.123077,0.130676,0.114506,0.128005,0.121721,0.120243,0.123803,0.119138,0.126502
2,76.832916,28.435664,0.124215,0.139049,NaN,NaN,0.129944,0.126845,0.134885,0.137480,...,0.116072,0.125746,0.129509,0.119344,0.123373,0.129341,0.125961,0.139009,0.122333,0.125341
3,76.832916,28.449265,0.119887,0.133765,NaN,0.122591,NaN,0.128756,NaN,NaN,...,0.119204,0.127821,0.124082,0.119617,0.126717,0.121876,0.124648,0.141504,0.121596,0.125359
4,76.832916,28.462866,0.125019,NaN,NaN,NaN,0.124399,0.130291,NaN,0.140669,...,0.117697,0.120900,0.127087,0.119888,0.125089,0.121228,0.120738,0.134652,0.119416,0.134201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,77.328716,28.830106,0.119874,NaN,NaN,NaN,0.126861,0.129419,NaN,0.138368,...,0.120791,0.127305,0.128453,0.114047,0.130193,0.123029,0.122552,0.134943,0.122008,0.124609
1364,77.328716,28.843708,0.117379,0.140109,0.124713,0.126033,NaN,0.130863,0.136028,0.135003,...,0.115556,0.127703,0.123385,0.115382,0.130221,0.130274,0.122413,0.139684,0.118435,0.137372
1365,77.328716,28.857309,0.118259,0.137078,0.127529,0.123623,0.129577,0.132396,0.117384,0.133180,...,0.119282,0.122581,0.113962,0.117111,0.132674,0.131606,0.128851,0.123779,0.122192,0.124905
1366,77.328716,28.870910,NaN,0.137791,NaN,0.122260,0.129271,0.132048,NaN,NaN,...,0.128597,NaN,0.115818,0.116175,0.135486,NaN,0.124002,0.138589,0.117594,0.126996
1367,77.328716,28.884512,0.121745,0.138917,0.127379,0.120822,0.128792,0.131071,NaN,0.143306,...,0.117884,0.118925,0.114000,0.119420,0.129987,0.131110,0.124050,0.134911,0.122329,0.125230

In [2]:
# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    print(f"Mean for {column}: {mean_value}")

Mean for 2023-09-01: 0.12173540418607144
Mean for 2023-09-02: 0.1385321469623067
Mean for 2023-09-03: 0.12621501433449578
Mean for 2023-09-04: 0.12601734558425287
Mean for 2023-09-05: 0.12967259050383573
Mean for 2023-09-06: 0.1298243471772679
Mean for 2023-09-07: 0.13064819150710794
Mean for 2023-09-08: 0.13502670274445067
Mean for 2023-09-09: 0.11794223995527359
Mean for 2023-09-10: 0.12284422035665278
Mean for 2023-09-11: 0.13042075400237252
Mean for 2023-09-12: 0.12657701215725056
Mean for 2023-09-13: 0.13897651041232736
Mean for 2023-09-14: 0.11840176815467492
Mean for 2023-09-15: 0.13431450726635566
Mean for 2023-09-16: 0.12510832254703225
Mean for 2023-09-17: 0.12239231603347436
Mean for 2023-09-18: 0.1205458671304023
Mean for 2023-09-19: 0.12763312062901305
Mean for 2023-09-20: 0.11951728906286387
Mean for 2023-09-21: 0.12378535071197816
Mean for 2023-09-22: 0.12474906513971694
Mean for 2023-09-23: 0.1184912456474801
Mean for 2023-09-24: 0.12691593862899384
Mean for 2023-09-25: 0.1268194631274257
Mean for 2023-09-26: 0.12427835339983986
Mean for 2023-09-27: 0.13089922845890076
Mean for 2023-09-28: 0.1210824805792871
Mean for 2023-09-29: 0.12896752444182605

In [3]:
import pandas as pd
import numpy as np

# Create a new DataFrame to store the results
result_df = pd.DataFrame(columns=['date', 'threshold_value'])

# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    result_df = pd.concat([result_df, pd.DataFrame({'date': [column], 'threshold_value': [mean_value]})], ignore_index=True)

# Print or display the resulting DataFrame
print(result_df)

          date  threshold_value
0   2023-09-01         0.121735
1   2023-09-02         0.138532
2   2023-09-03         0.126215
3   2023-09-04         0.126017
4   2023-09-05         0.129673
5   2023-09-06         0.129824
6   2023-09-07         0.130648
7   2023-09-08         0.135027
8   2023-09-09         0.117942
9   2023-09-10         0.122844
10  2023-09-11         0.130421
11  2023-09-12         0.126577
12  2023-09-13         0.138977
13  2023-09-14         0.118402
14  2023-09-15         0.134315
15  2023-09-16         0.125108
16  2023-09-17         0.122392
17  2023-09-18         0.120546
18  2023-09-19         0.127633
19  2023-09-20         0.119517
20  2023-09-21         0.123785
21  2023-09-22         0.124749
22  2023-09-23         0.118491
23  2023-09-24         0.126916
24  2023-09-25         0.126819
25  2023-09-26         0.124278
26  2023-09-27         0.130899
27  2023-09-28         0.121082
28  2023-09-29         0.128968

In [5]:
#thresold value csv file

In [6]:
# Save the resulting DataFrame to a CSV file
result_df.to_csv('./threshold_value_delhi_sep_o3.csv', index=False)