In [2]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('/home/sysadm/Documents/Wb_so2/WB_sep_So2.csv')
df

,longitude,latitude,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06,2023-09-07,2023-09-08,...,2023-09-20,2023-09-21,2023-09-22,2023-09-23,2023-09-24,2023-09-25,2023-09-26,2023-09-27,2023-09-28,2023-09-29
0,85.826363,21.539446,-0.000140,-0.000316,0.000005,-0.000271,0.001138,-0.000397,0.000522,-0.000551,...,0.000110,-0.000135,0.000880,-0.001649,-0.000328,0.000230,0.000408,0.000327,-0.000071,0.000091
1,85.826363,21.660331,NaN,NaN,-0.000214,0.000602,-0.000501,-0.000049,0.000070,-0.000229,...,0.000252,-0.000675,-0.000297,0.000187,-0.000044,-0.000249,0.000239,-0.000278,0.000430,0.000412
2,85.826363,21.781215,NaN,-0.000210,NaN,NaN,-0.000310,NaN,NaN,NaN,...,0.000087,0.000059,0.000454,0.000125,NaN,0.000910,0.000046,-0.000737,-0.000080,-0.000155
3,85.826363,21.902100,-0.000050,-0.000326,0.000182,-0.000329,0.000230,0.000329,-0.000165,0.000486,...,0.000082,-0.000214,-0.000194,-0.002253,-0.000200,0.000309,-0.000059,-0.000074,0.000584,-0.000034
4,85.826363,22.022985,NaN,-0.000256,NaN,0.000869,-0.000233,NaN,NaN,-0.000633,...,0.001020,0.000201,0.000594,0.000507,-0.000027,0.000659,0.000007,-0.000221,0.000419,0.000063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1627,89.786363,26.737492,0.000116,NaN,NaN,-0.000378,-0.000513,NaN,0.000104,0.000233,...,0.000147,0.000216,0.000228,0.000552,0.000757,0.000536,0.000449,0.000329,0.000362,0.000163
1628,89.786363,26.858377,0.000261,-0.000224,NaN,NaN,-0.000076,-0.000037,-0.000072,-0.000046,...,-0.000276,0.000050,-0.000161,NaN,0.000423,0.000099,-0.000393,0.000119,0.000709,-0.000068
1629,89.786363,26.979262,NaN,-0.000022,-0.000176,-0.000221,NaN,NaN,-0.000043,-0.000092,...,-0.000033,0.000336,0.000277,0.000046,0.000119,0.000826,-0.000312,0.000126,-0.000033,0.000061
1630,89.786363,27.100146,0.000059,NaN,NaN,-0.000182,0.000044,0.000068,NaN,-0.000118,...,0.000128,-0.000513,0.000651,-0.000049,NaN,-0.000868,-0.000002,0.000310,0.000147,-0.000058
1631,89.786363,27.221031,NaN,NaN,NaN,0.000189,0.000132,-0.000152,-0.001024,0.000011,...,NaN,0.001325,0.000026,-0.000032,0.000276,-0.000005,0.000576,0.000593,0.000211,-0.000097

In [5]:
# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    print(f"Mean for {column}: {mean_value}")

Mean for 2023-09-01: 2.6431080388306266e-05
Mean for 2023-09-02: -3.144233193628834e-05
Mean for 2023-09-03: 1.5671175467604476e-05
Mean for 2023-09-04: 1.874587790956424e-05
Mean for 2023-09-05: 1.1900377122731417e-05
Mean for 2023-09-06: 7.11161281949541e-05
Mean for 2023-09-07: 1.965957981026121e-05
Mean for 2023-09-08: 2.1108666320799418e-06
Mean for 2023-09-09: 1.4150122905761008e-05
Mean for 2023-09-10: 4.49821390842299e-06
Mean for 2023-09-11: 2.377974745247269e-05
Mean for 2023-09-12: 4.369845461095146e-05
Mean for 2023-09-13: 4.7830333793184487e-05
Mean for 2023-09-14: -1.7700004945944414e-05
Mean for 2023-09-15: -2.90914126003936e-05
Mean for 2023-09-16: 4.2923117054304376e-05
Mean for 2023-09-17: -1.7330356059368074e-05
Mean for 2023-09-18: 5.165728954087585e-05
Mean for 2023-09-19: 1.9801315142866473e-05
Mean for 2023-09-20: 1.907588786694649e-06
Mean for 2023-09-21: 8.767153035908279e-06
Mean for 2023-09-22: 6.089649434374897e-05
Mean for 2023-09-23: 1.694340523240527e-05
Mean for 2023-09-24: 7.544310349634548e-05
Mean for 2023-09-25: 2.5579224527100126e-05
Mean for 2023-09-26: 2.5308995684510795e-05
Mean for 2023-09-27: 4.863219560993779e-05
Mean for 2023-09-28: 5.618155766025801e-05
Mean for 2023-09-29: -3.5132562329669423e-05

In [9]:
import pandas as pd
import numpy as np

# Create a new DataFrame to store the results
result_df = pd.DataFrame(columns=['date', 'threshold_value'])

# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    result_df = pd.concat([result_df, pd.DataFrame({'date': [column], 'threshold_value': [mean_value]})], ignore_index=True)

# Print or display the resulting DataFrame
print(result_df)

          date  threshold_value
0   2023-09-01         0.000026
1   2023-09-02        -0.000031
2   2023-09-03         0.000016
3   2023-09-04         0.000019
4   2023-09-05         0.000012
5   2023-09-06         0.000071
6   2023-09-07         0.000020
7   2023-09-08         0.000002
8   2023-09-09         0.000014
9   2023-09-10         0.000004
10  2023-09-11         0.000024
11  2023-09-12         0.000044
12  2023-09-13         0.000048
13  2023-09-14        -0.000018
14  2023-09-15        -0.000029
15  2023-09-16         0.000043
16  2023-09-17        -0.000017
17  2023-09-18         0.000052
18  2023-09-19         0.000020
19  2023-09-20         0.000002
20  2023-09-21         0.000009
21  2023-09-22         0.000061
22  2023-09-23         0.000017
23  2023-09-24         0.000075
24  2023-09-25         0.000026
25  2023-09-26         0.000025
26  2023-09-27         0.000049
27  2023-09-28         0.000056
28  2023-09-29        -0.000035

In [10]:
#thresold value csv file

In [11]:
# Save the resulting DataFrame to a CSV file
result_df.to_csv('./threshold_value_wb_sep_so2.csv', index=False)