In [1]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('./karnataka_sep_Hcho.csv')
df

,longitude,latitude,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06,2023-09-07,2023-09-08,...,2023-09-21,2023-09-22,2023-09-23,2023-09-24,2023-09-25,2023-09-26,2023-09-27,2023-09-28,2023-09-29,2023-09-30
0,74.054306,11.574480,0.000064,0.000170,NaN,NaN,-0.000204,0.000256,-0.000031,0.000082,...,0.000065,-0.000046,0.000076,-0.000061,0.000126,0.000166,-0.000106,0.000066,0.000159,0.000028
1,74.054306,11.714901,NaN,0.000041,0.000103,0.000043,0.000200,0.000025,0.000042,0.000012,...,0.000106,-0.000049,0.000100,0.000097,0.000043,0.000062,0.000179,-0.000113,0.000063,-0.000069
2,74.054306,11.855323,0.000160,0.000094,0.000088,-0.000154,0.000305,-0.000171,0.000011,0.000137,...,0.000109,0.000104,-0.000016,0.000036,0.000073,0.000032,0.000156,0.000006,0.000003,0.000157
3,74.054306,11.995744,0.000318,NaN,NaN,0.000009,0.000074,-0.000024,0.000086,0.000058,...,0.000048,0.000180,0.000005,0.000155,0.000091,0.000148,0.000145,-0.000037,0.000030,0.000129
4,74.054306,12.136165,0.000067,0.000135,NaN,-0.000089,0.000308,0.000148,-0.000151,-0.000088,...,0.000147,0.000176,-0.000030,0.000151,0.000043,-0.000017,-0.000049,0.000099,0.000275,0.000307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,78.534306,17.893435,0.000117,0.000295,0.000173,0.000160,0.000052,NaN,-0.000026,NaN,...,-0.000009,0.000252,-0.000564,0.000024,0.000167,0.000204,0.000029,0.000316,0.000210,0.000030
1646,78.534306,18.033856,-0.000006,-0.000174,NaN,-0.000032,NaN,0.000054,0.000118,0.000121,...,0.000011,0.000026,0.000008,0.000081,0.000219,0.000257,0.000126,-0.000048,0.000089,NaN
1647,78.534306,18.174278,NaN,0.000079,0.000087,0.000051,0.000046,0.000131,NaN,0.000024,...,-0.000036,0.000135,0.000339,0.000098,0.000227,0.000420,0.000142,0.000122,0.000144,-0.000005
1648,78.534306,18.314699,0.000067,0.000067,NaN,0.000194,NaN,NaN,0.000125,NaN,...,0.000129,0.000129,-0.000049,0.000088,0.000180,0.000153,0.000133,0.000229,-0.000042,-0.000028
1649,78.534306,18.455120,NaN,0.000099,0.000130,0.000061,0.000106,0.000181,0.000184,0.000068,...,0.000086,0.000175,0.000221,0.000197,0.000021,0.000041,0.000085,0.000077,0.000168,0.000256

In [2]:
# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    print(f"Mean for {column}: {mean_value}")

Mean for 2023-09-01: 8.579421523285769e-05
Mean for 2023-09-02: 0.00012889812933547488
Mean for 2023-09-03: 0.00014140151353631692
Mean for 2023-09-04: 6.514745231416388e-05
Mean for 2023-09-05: 5.523712105890367e-05
Mean for 2023-09-06: 7.235165103915248e-05
Mean for 2023-09-07: 0.000131653356406495
Mean for 2023-09-08: 6.109700817145922e-05
Mean for 2023-09-09: 7.955442328975125e-05
Mean for 2023-09-10: 9.739898811785229e-05
Mean for 2023-09-11: 7.423107914003653e-05
Mean for 2023-09-12: 7.947169173130415e-05
Mean for 2023-09-13: 0.00013094059493618836
Mean for 2023-09-14: 8.896985585825414e-05
Mean for 2023-09-15: 0.00011503630508651725
Mean for 2023-09-16: 9.09367942691433e-05
Mean for 2023-09-17: 0.000102218330867481
Mean for 2023-09-18: 0.00010591206725478938
Mean for 2023-09-19: 9.7286755596621e-05
Mean for 2023-09-20: 0.00012088694282734802
Mean for 2023-09-21: 8.743467899999572e-05
Mean for 2023-09-22: 7.124380502704226e-05
Mean for 2023-09-23: 7.911282021718413e-05
Mean for 2023-09-24: 0.00013646981633727825
Mean for 2023-09-25: 0.00010230079568203512
Mean for 2023-09-26: 9.712076536244496e-05
Mean for 2023-09-27: 0.00012445909136926837
Mean for 2023-09-28: 8.959818610326438e-05
Mean for 2023-09-29: 9.703379547630301e-05
Mean for 2023-09-30: 9.792908915743331e-05

In [3]:
import pandas as pd
import numpy as np

# Create a new DataFrame to store the results
result_df = pd.DataFrame(columns=['date', 'threshold_value'])

# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    result_df = pd.concat([result_df, pd.DataFrame({'date': [column], 'threshold_value': [mean_value]})], ignore_index=True)

# Print or display the resulting DataFrame
print(result_df)

          date  threshold_value
0   2023-09-01         0.000086
1   2023-09-02         0.000129
2   2023-09-03         0.000141
3   2023-09-04         0.000065
4   2023-09-05         0.000055
5   2023-09-06         0.000072
6   2023-09-07         0.000132
7   2023-09-08         0.000061
8   2023-09-09         0.000080
9   2023-09-10         0.000097
10  2023-09-11         0.000074
11  2023-09-12         0.000079
12  2023-09-13         0.000131
13  2023-09-14         0.000089
14  2023-09-15         0.000115
15  2023-09-16         0.000091
16  2023-09-17         0.000102
17  2023-09-18         0.000106
18  2023-09-19         0.000097
19  2023-09-20         0.000121
20  2023-09-21         0.000087
21  2023-09-22         0.000071
22  2023-09-23         0.000079
23  2023-09-24         0.000136
24  2023-09-25         0.000102
25  2023-09-26         0.000097
26  2023-09-27         0.000124
27  2023-09-28         0.000090
28  2023-09-29         0.000097
29  2023-09-30         0.000098

In [4]:
#thresold value csv file

In [4]:
# Save the resulting DataFrame to a CSV file
result_df.to_csv('./threshold_value_karnataka_sep_hcho.csv', index=False)