In [1]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('./Delhi_sep_Hcho.csv')
df

,longitude,latitude,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06,2023-09-07,2023-09-08,...,2023-09-21,2023-09-22,2023-09-23,2023-09-24,2023-09-25,2023-09-26,2023-09-27,2023-09-28,2023-09-29,2023-09-30
0,76.832916,28.408461,0.000150,6.165237e-05,0.000138,0.000260,NaN,-0.000099,0.000333,0.000296,...,0.000442,0.000139,0.000020,0.000135,-0.000114,0.000212,-0.000069,0.000131,0.000353,0.000194
1,76.832916,28.422062,0.000188,1.970383e-04,-0.000041,0.000155,5.665973e-04,NaN,0.000298,0.000200,...,NaN,0.000164,0.000115,0.000078,0.000066,0.000023,-0.000044,0.000209,0.000103,0.000115
2,76.832916,28.435664,0.000187,2.242453e-04,NaN,NaN,6.231288e-05,0.000121,0.000248,NaN,...,0.000219,0.000161,0.000097,0.000886,0.000160,-0.000073,-0.000021,0.001156,0.000043,0.000193
3,76.832916,28.449265,0.000106,2.685467e-05,0.000275,NaN,NaN,0.000221,-0.000048,0.000348,...,0.000022,0.000339,-0.000122,0.000167,0.000065,0.000183,0.000279,0.000014,0.000087,0.000043
4,76.832916,28.462866,0.000275,NaN,-0.000021,0.000300,1.732225e-04,NaN,0.000139,0.000234,...,0.001130,0.000315,0.000650,0.000506,0.000132,0.000160,-0.000111,0.000216,0.000248,0.000004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,77.328716,28.830106,0.000135,NaN,0.000128,-0.000100,1.768396e-04,0.000461,NaN,0.000069,...,0.000209,-0.000067,0.000261,0.000121,0.000269,-0.000032,-0.000001,0.000146,0.000515,-0.000067
1364,77.328716,28.843708,0.000131,4.666144e-05,0.000258,0.000036,-6.413862e-08,NaN,NaN,NaN,...,0.000085,0.000158,0.000422,0.000083,0.000010,0.000250,-0.000160,0.000190,0.000504,0.000153
1365,77.328716,28.857309,0.000069,1.454076e-05,-0.001094,0.000122,1.539142e-04,0.000106,NaN,0.000118,...,-0.000030,0.000061,-0.000025,0.000014,0.000124,0.000105,0.000294,0.000033,0.000140,0.000230
1366,77.328716,28.870910,NaN,1.401019e-04,0.000016,NaN,1.784776e-04,0.000031,NaN,0.000187,...,NaN,-0.000060,0.000367,-0.000012,0.000081,0.000282,0.000122,0.000188,0.000110,0.000121
1367,77.328716,28.884512,0.000075,-3.233765e-07,NaN,0.000161,6.070889e-05,0.000167,0.000418,-0.000002,...,0.000067,0.000087,0.000245,0.000041,0.000018,0.000103,0.000036,0.000358,0.000054,0.000179

In [2]:
# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    print(f"Mean for {column}: {mean_value}")

Mean for 2023-09-01: 0.00017629414310712046
Mean for 2023-09-02: 0.00012004215777581867
Mean for 2023-09-03: 8.663630844715848e-05
Mean for 2023-09-04: 0.0001393538950619126
Mean for 2023-09-05: 0.00012154726669199315
Mean for 2023-09-06: 0.0002112973517644728
Mean for 2023-09-07: 0.00015537282857367265
Mean for 2023-09-08: 0.00016429975678415853
Mean for 2023-09-09: 0.00013090196534969707
Mean for 2023-09-10: 0.00017051868760222552
Mean for 2023-09-11: 0.00012017950328865943
Mean for 2023-09-12: 0.00020306871426181515
Mean for 2023-09-13: 0.0001810685543945398
Mean for 2023-09-14: 0.000152421857309979
Mean for 2023-09-15: 0.0002232924417106868
Mean for 2023-09-16: 0.00010791036219238984
Mean for 2023-09-17: 7.17141991270752e-05
Mean for 2023-09-18: 0.00010766897189968596
Mean for 2023-09-19: 8.735139801413612e-05
Mean for 2023-09-20: 0.00023030558228397962
Mean for 2023-09-21: 0.00029976239957065035
Mean for 2023-09-22: 0.00011705633327052031
Mean for 2023-09-23: 0.00022281421559051026
Mean for 2023-09-24: 0.00019444459855493212
Mean for 2023-09-25: 0.00014019439985110276
Mean for 2023-09-26: 0.00015315002949724548
Mean for 2023-09-27: 9.671235628439828e-05
Mean for 2023-09-28: 0.00020494878151207317
Mean for 2023-09-29: 0.00018278199493402422
Mean for 2023-09-30: 0.0001731250366170207

In [3]:
import pandas as pd
import numpy as np

# Create a new DataFrame to store the results
result_df = pd.DataFrame(columns=['date', 'threshold_value'])

# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    result_df = pd.concat([result_df, pd.DataFrame({'date': [column], 'threshold_value': [mean_value]})], ignore_index=True)

# Print or display the resulting DataFrame
print(result_df)

          date  threshold_value
0   2023-09-01         0.000176
1   2023-09-02         0.000120
2   2023-09-03         0.000087
3   2023-09-04         0.000139
4   2023-09-05         0.000122
5   2023-09-06         0.000211
6   2023-09-07         0.000155
7   2023-09-08         0.000164
8   2023-09-09         0.000131
9   2023-09-10         0.000171
10  2023-09-11         0.000120
11  2023-09-12         0.000203
12  2023-09-13         0.000181
13  2023-09-14         0.000152
14  2023-09-15         0.000223
15  2023-09-16         0.000108
16  2023-09-17         0.000072
17  2023-09-18         0.000108
18  2023-09-19         0.000087
19  2023-09-20         0.000230
20  2023-09-21         0.000300
21  2023-09-22         0.000117
22  2023-09-23         0.000223
23  2023-09-24         0.000194
24  2023-09-25         0.000140
25  2023-09-26         0.000153
26  2023-09-27         0.000097
27  2023-09-28         0.000205
28  2023-09-29         0.000183
29  2023-09-30         0.000173

In [4]:
#thresold value csv file

In [4]:
# Save the resulting DataFrame to a CSV file
result_df.to_csv('./threshold_value_delhi_sep_hcho.csv', index=False)