In [1]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('./karnataka_sep_So2.csv')
df

,longitude,latitude,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06,2023-09-07,2023-09-08,...,2023-09-20,2023-09-21,2023-09-22,2023-09-23,2023-09-24,2023-09-25,2023-09-26,2023-09-27,2023-09-28,2023-09-29
0,74.054306,11.574480,-0.000031,0.000110,NaN,NaN,0.000519,-0.000236,0.000143,0.000606,...,-0.000361,0.000100,0.000101,0.000243,0.000208,0.000163,-0.000079,0.000126,-0.000152,-0.000348
1,74.054306,11.714901,0.000137,0.000566,-0.000023,-0.000478,0.000471,-0.000604,-0.000229,0.000488,...,0.000304,-0.000031,0.001707,-0.000390,0.000160,0.000066,0.000014,0.000429,-0.000449,-0.000190
2,74.054306,11.855323,-0.000599,-0.000173,0.000038,-0.000850,0.000118,0.000074,0.000011,-0.000831,...,-0.000244,0.000202,-0.000026,-0.000166,0.000285,0.000127,0.000193,0.000354,-0.000328,0.000203
3,74.054306,11.995744,-0.000243,0.000246,NaN,-0.000055,0.000194,-0.000611,0.000171,0.000633,...,-0.000008,-0.000136,0.000941,0.000223,0.000082,0.000133,0.000948,-0.000055,0.000651,-0.000136
4,74.054306,12.136165,0.000435,-0.000431,NaN,-0.004033,-0.000158,0.001097,0.000190,-0.000729,...,0.000289,-0.000518,0.000014,-0.000099,0.000555,0.000350,0.000238,0.000373,0.000013,-0.000119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,78.534306,17.893435,0.000582,0.000108,0.000345,-0.000102,-0.000400,-0.000400,0.000204,NaN,...,-0.000020,0.000192,0.000144,-0.003484,0.000276,-0.000326,-0.000102,0.000061,0.000662,0.000422
1646,78.534306,18.033856,-0.000003,-0.000642,NaN,-0.000194,0.001001,0.000187,0.000147,-0.002046,...,0.000047,0.000058,0.000413,0.000285,-0.000038,0.000088,-0.000075,-0.000051,0.000020,-0.000006
1647,78.534306,18.174278,-0.000362,0.001054,0.001092,0.000258,0.000421,0.000126,NaN,-0.000313,...,0.000040,-0.000024,0.000143,0.000206,-0.000034,0.000707,0.000336,-0.000193,-0.000121,0.000536
1648,78.534306,18.314699,0.000152,0.000323,NaN,0.001858,0.000295,0.000172,0.000076,NaN,...,-0.000992,0.000189,-0.000263,0.000220,0.000451,0.001560,0.000716,-0.000155,-0.000046,-0.000200
1649,78.534306,18.455120,0.000082,0.000391,-0.000232,0.000196,0.000379,0.000066,0.000085,-0.000065,...,0.000023,0.000096,0.000016,-0.000218,-0.000243,-0.000263,-0.000269,0.000413,0.000062,-0.000029

In [2]:
# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    print(f"Mean for {column}: {mean_value}")

Mean for 2023-09-01: 0.00013385796003848987
Mean for 2023-09-02: 3.5159775531636765e-06
Mean for 2023-09-03: 6.252042177968578e-05
Mean for 2023-09-04: 2.2084582037163628e-05
Mean for 2023-09-05: 9.145598143125392e-06
Mean for 2023-09-06: 0.00010428289056806867
Mean for 2023-09-07: 4.626978473382483e-06
Mean for 2023-09-08: 1.1740850990163622e-05
Mean for 2023-09-09: -1.8222577749177265e-05
Mean for 2023-09-10: 3.920293509174471e-05
Mean for 2023-09-11: 3.103024966830292e-05
Mean for 2023-09-12: 4.2591473789106315e-05
Mean for 2023-09-13: 2.8194376683161803e-05
Mean for 2023-09-14: 4.901090293084849e-06
Mean for 2023-09-15: -1.523974897613952e-05
Mean for 2023-09-16: 3.660280754185977e-06
Mean for 2023-09-17: 1.9359785792111127e-05
Mean for 2023-09-18: 6.033994022936464e-05
Mean for 2023-09-19: 6.754455466229166e-05
Mean for 2023-09-20: 5.595437826277019e-06
Mean for 2023-09-21: 6.305045477807279e-06
Mean for 2023-09-22: 5.552790360510177e-05
Mean for 2023-09-23: 7.114803721093505e-05
Mean for 2023-09-24: 5.9106086819044155e-05
Mean for 2023-09-25: 4.581391844429127e-05
Mean for 2023-09-26: 4.368006934245963e-05
Mean for 2023-09-27: 2.9515923784478303e-05
Mean for 2023-09-28: 2.3032341890347795e-05
Mean for 2023-09-29: 6.657989451449054e-05

In [3]:
import pandas as pd
import numpy as np

# Create a new DataFrame to store the results
result_df = pd.DataFrame(columns=['date', 'threshold_value'])

# Iterate over each date column and calculate the mean, excluding NaN values
for column in df.columns[2:]:
    mean_value = np.nanmean(df[column])
    result_df = pd.concat([result_df, pd.DataFrame({'date': [column], 'threshold_value': [mean_value]})], ignore_index=True)

# Print or display the resulting DataFrame
print(result_df)

          date  threshold_value
0   2023-09-01         0.000134
1   2023-09-02         0.000004
2   2023-09-03         0.000063
3   2023-09-04         0.000022
4   2023-09-05         0.000009
5   2023-09-06         0.000104
6   2023-09-07         0.000005
7   2023-09-08         0.000012
8   2023-09-09        -0.000018
9   2023-09-10         0.000039
10  2023-09-11         0.000031
11  2023-09-12         0.000043
12  2023-09-13         0.000028
13  2023-09-14         0.000005
14  2023-09-15        -0.000015
15  2023-09-16         0.000004
16  2023-09-17         0.000019
17  2023-09-18         0.000060
18  2023-09-19         0.000068
19  2023-09-20         0.000006
20  2023-09-21         0.000006
21  2023-09-22         0.000056
22  2023-09-23         0.000071
23  2023-09-24         0.000059
24  2023-09-25         0.000046
25  2023-09-26         0.000044
26  2023-09-27         0.000030
27  2023-09-28         0.000023
28  2023-09-29         0.000067

In [4]:
#thresold value csv file

In [5]:
# Save the resulting DataFrame to a CSV file
result_df.to_csv('./threshold_value_karnataka_sep_so2.csv', index=False)